{name, "erlcloud"}.
{authors, ["Brian Buchanan <bwb@holo.org>"]}.
{description, "Cloud Computing library for erlang (Amazon EC2, S3, SQS, SimpleDB, Mechanical Turk)"}.
{homepage, "https://github.com/spawngrid/erlcloud"}.
{rebar_compatible, true}.
{license, "BSD2", "COPYRIGHT"}.
{url, {git, "https://github.com/spawngrid/erlcloud.git", {branch, "master"}}}.
{applications, [erlcloud]}.
