{name, "erlcloud"}.
{authors, ["Brian Buchanan <bwb@holo.org>"]}.
{description, "Cloud Computing library for erlang (Amazon EC2, S3, SQS, SimpleDB, Mechanical Turk)"}.
{homepage, "https://github.com/gleber/erlcloud"}.
{rebar_compatible, true}.
{license, "BSD2", "COPYRIGHT"}.
{url, {git, "https://github.com/gleber/erlcloud.git", "5ca1e54a5d2e9fa2cc0c386107b113df986a4621"}}.
{applications, [erlcloud]}.
